<!-- ko with: home -->
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>Here you can find your information</p>
     
       
        <p><a class="btn btn-primary" href="/Manage">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Creating Ingredients</h2>
        <p>
           To create ingredients go to the ingredient page and click on the "Create new" button. In here you can create ingredients with the amount that you have available in your fridge.
        </p>
        <p><a class="btn btn-primary" href="/Ingredient">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Creating Recipe's</h2>
        <p>To create an recipe click on the "Create new" button. Here you fill in the fields of ingredients wich you need for your recipe. Also the prefered amount of the ingredient for the recipe. </p>
        <p><a class="btn btn-primary" href="/Recipe">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
